<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlanReflow.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PlanReflow.My.MySettings.APCSDBConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=APCSDB;User ID=APCSDBUSER"
            providerName="System.Data.SqlClient" />
        <add name="PlanReflow.My.MySettings.DBxConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;User ID=dbxuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PlanReflow.My.MySettings>
            <setting name="MCNo" serializeAs="String">
                <value>PL-M-02</value>
            </setting>
            <setting name="TimeStr" serializeAs="String">
                <value>00:00:00</value>
            </setting>
        </PlanReflow.My.MySettings>
    </userSettings>
</configuration>