<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.My.MySettings.DBxConnectionString"
            connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;Persist Security Info=True;User ID=dbxuser"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication1.My.MySettings.TDCLogConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\TDCLog.accdb"
            providerName="System.Data.OleDb" />
        <add name="WindowsApplication1.My.MySettings.APCSDBConnectionString"
            connectionString="Data Source=172.16.0.102;Initial Catalog=APCSDB;Persist Security Info=True;User ID=apcsdbuser" />
        <!--<add name="ApcsProConnectionString" connectionString="Server=172.16.0.110;Database=APCSProDB;User Id=apcsuser;Password=apcsuser;"
            providerName="System.Data.SqlClient" />-->
      <add name="ApcsProConnectionString" connectionString="Server=10.28.32.122;Database=APCSProDB;User Id=sa;Password=p@$$w0rd;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="DBxServerIPAddress" serializeAs="String">
                <value>172.16.0.102</value>
            </setting>
            <setting name="ZionServerIPAddress" serializeAs="String">
                <value>172.16.0.100</value>
            </setting>
            <setting name="MCNo" serializeAs="String">
                <value>RF-R-00</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>10.1.1.50</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ApcsWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://webserv.thematrix.net/apcscontrolsystem/apcswebservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="ApcsWebServiceSoap"
                contract="ServiceReference1.ApcsWebServiceSoap" name="ApcsWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
